@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --dark: #060606;
    --semi-dark: #222222;
    --mid: rgb(65, 65, 65);
    --semi-light: rgb(142, 142, 142);
    --light: rgb(216, 216, 216);
    --super-light: rgb(252, 252, 252);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

body{
    background-color: var(--light);
}

header{
    /* outline: 1px red solid; */
    background-color: var(--dark);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
}

header > h1 {
    vertical-align: middle;
}

nav ul{
    display: flex;
    gap: 50px;
}

li{
    list-style: none;
    padding: 10px;
    /* outline: 1px red solid; */
}

a{
    text-decoration: none;
    color: inherit;
}

.train-maintenance-content{
    display: flex;
    justify-content: space-around;
}

.margin-60{
    margin: 60px;
}

.grid-columns-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-columns-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-columns-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-columns-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-columns-7{
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
}

.grid-columns-8{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

p{
    text-align: center;
    padding: 10px;
    margin: 2px;
    text-align: center;
    background-color: var(--super-light);
}

.main-header{
    font-size: xx-large;
    background-color: var(--dark);
    color: var(--light);
}

.sub-header{
    font-size: xx-large;
    background-color: var(--semi-light);
    color: var(--light);
}

p.btn{
    background-color: var(--semi-light);
    color: var(--super-light);
}


p.label{
    background-color: var(--mid);
    color: var(--light);
}

.first-row{
    display: flex;
}

.first-row > * {
    flex-grow: 1;
}