<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tirian Trains</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">TIRIAN TRAINS</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'train-maintenance' %}">Trains</a></li>
                <li><a href="{% url 'train-routes' %}">Train Routes</a></li>
                <li><a href="{% url 'trip-schedules' %}">Trip Schedule</a></li>
                <li><a href="{% url 'trips' %}">Trips</a></li>
                <li><a href="{% url 'tickets' %}">Tickets</a></li>
                <li><a href="{% url 'customers' %}">Customers</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>