{% extends "main/base.html" %}
{% block content %}
    <div class="margin-60">
        <p class="main-header">Customers</p>
        <div class="grid-columns-3">
            <p class="label">Travel History</p>
            <p class="label">Name</p>
            <p class="label">Birth Date</p>
            {% for customer, age in customers.items %}
                <p class="btn"><a href="{% url 'customer-detail' customer.customer_id %}">SELECT</a></p>
                <p>{{customer}}</p>
                <p>{{age}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}