{% extends "main/base.html" %}
{% block content %}
    <div class="margin-60">
        <p class="main-header">Train Ticket</p>
        <div class="grid-columns-6 ticket-detail">
            {% for key, value in customer.items %}
                {% for v in value %}
                    <p>{{v}}</p>                    
                {% endfor %}
            {% endfor %}
        </div>
        <p class="sub-header">Trip Itinerary</p>
        <div class="grid-columns-7">
            <p class="label">Train #</p>
            <p class="label">Origin</p>
            <p class="label">Destination</p>
            <p class="label">Departure</p>
            <p class="label">Arrival</p>
            <p class="label">Duration</p>
            <p class="label">Cost</p>
            {% for trip, details in trips.items %}
                {% for d in details %}
                    <p>{{d}}</p>
                {% endfor %}
            {% endfor %}
    </div>
{% endblock content %}