{% extends "main/base.html" %}
{% block content %}
    <div class="tickets-content">
        <p id="train-maintenance">Tickets</p>
        <div class="tickets">
            <p class="label">Ticket #</p>
            <p class="label">Customer Name</p>
            <p class="label">Origin</p>
            <p class="label">Final Destination</p>
            <p class="label">Total Cost</p>
            {% for ticket, details in tickets.items %}
                <p><a href="{% url 'ticket-detail' ticket.ticket_id %}">{{ticket.ticket_id}}</a></p>
                <p>{{ticket.customer}}</p>
                {% for d in details %}
                    <p>{{d}}</p>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}