{% extends "main/base.html" %}

{% block content %}
    <div class="margin-60">
        <div class="first-row">
            <div class="local-routes">
                <p class="main-header">Local Routes</p>
                <div class="grid-columns-4">
                    <p class="label">Origin</p>
                    <p class="label">Destination</p>
                    <p class="label">Duration</p>
                    <p class="label">Cost</p>
                    {% for o, d in local.items %}
                    <p>{{o}}</p>
                    <p>{{d}}</p>
                    <p>0:05:00</p>
                    <p>2 Lion coins</p>
                    {% endfor %}
                </div>
            </div>
            
            <div class="town-stations">
                <p class="main-header">Town Stations</p>
                <div class="grid-columns-3">
                    <p class="label">Station</p>
                    <p class="label span-2">Routes</p>
                    {% for id, station in town.items %}
                        <p>{{station}}</p>
                        <p class="btn"><a href="{% url 'departure-routes' id %}">Depart</a></p>
                        <p class="btn"><a href="{% url 'arrival-routes' id %}">Arrive</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="inter-town-routes">
            <p class="main-header">Inter-Town Routes</p>
            <div class="grid-columns-4">
                <p class="label">Origin</p>
                <p class="label">Destination</p>
                <p class="label">Duration</p>
                <p class="label">Cost</p>
                {% for i, details in inter.items %}
                {% for d in details %}
                    <p>{{d}}</p>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}