{% extends "main/base.html" %}

{% block content %}
<div class="margin-60 grid-columns-2">
    <p class="btn"><a href="{% url 'trip-create' 'local' %}" >Add Local Trip</a></p>
    <p class="btn"><a href="{% url 'trip-create' 'inter-town' %}" >Add Inter-Town Trip</a></p>
</div>
<div class="margin-60">
    <div class="local-routes">
        <p class="main-header">Local Trips</p>
        <div class="grid-columns-3">
            <p class="label">Origin</p>
            <p class="label">Destination</p>
            <p class="label">Trips</p>
            {% for o, d in local.items %}
                <p>{{o}}</p>
                <p>{{d}}</p>
                <p class="btn"><a href="{% url 'trip-detail' type='local' pk=o.station_id %}">Select</a></p>
            {% endfor %}
        </div>
    </div>
    <div class="town-stations">
        <p class="main-header">Inter-Town Trips</p>
        <div class="grid-columns-3">
            <p class="label">Station</p>
            <p class="label span-2">Trips</p>
            {% for id, station in town.items %}
                <p>{{station}}</p>
                <p class="btn"><a href="{% url 'trip-detail' type='inter-town-depart' pk=id %}">Depart</a></p>
                <p class="btn"><a href="{% url 'trip-detail' type='inter-town-arrive' pk=id %}">Arrive</a></p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}